body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: darkgoldenrod;
    margin: 0;
    padding: 0%;
}

#operations{
    margin: auto;
    background-color: #9dd2ea;
    width: 295px;
    height: 325px;
    text-align: center;
    border-radius: 4px;
}

#calculation-history{
    margin: auto;
    background-color: darkgray;
    width: 295px;
    text-align: center;
    border-radius: 4px;

}

#calc-history-body{
    border: 2px solid #495069;
}

#current-result{
    border: 2px solid #495069;
    border-radius: 4px;
    min-height: 50px;
    background-color: rgb(203, 248, 134);
    position: static;
    margin: 0 auto;
    width: 205px;
    text-align: center;
    /* width: 100%; */
}
.answer{
    text-align: center;
    color: #495069;
    font-size: 20px;
}

input{
    outline: 0;
    position: static;
    border: 4px solid rgba(0,0,0,0.2);
    color: #495069;
    background-color: whitesmoke;
    width: calc(100%-10px);
    height: 50px;
    float: inline;
    display: block; 
    margin: 0 auto;
    font-size: 20px;
    box-shadow: 0 4px rgba(0,0,0,0.2);
}
button{
    outline: 0;
    position: relative;
    left: 5px;
    top: 5px;
    border: 0;
    color: #495069;
    background-color: 4px;
    width: 60px;
    height: 50px;
    float: left;
    margin: 5px;
    font-size: 20px;
    box-shadow: 0 4px rgba(0,0,0,0.2);
}
.op{
    background-color: #f1ff92;
    position: relative;
}


#clear-button{
    float: left;
    position: relative;
    display: block;
    background-color: #ff9fa8;
    margin-bottom: 15px;
}


#submit-button{
    background-color: rgb(172, 115, 172);
}

p{
    
}

#history-label{
    background-color: goldenrod;
    padding: 1%;
    border: 2px solid #495069;
    margin: 0 auto;
    margin-top: 2%;
    width: 185px;
}