body {
    background-color: darkgoldenrod;
    margin: 0;
    padding: 0%;
}

#operations{
    margin: auto;
    background-color: #9dd2ea;
    width: 295px;
    height: 325px;
    text-align: center;
    border-radius: 4px;
}

#calculation-history{
    margin: auto;
    background-color: darksalmon;
    width: 295px;
    text-align: center;
    border-radius: 4px;

}

#calc-history-body{
    border: 2px solid #495069;
}

.answer, ul{
    margin-left: 15px;
    border: 2px solid #495069;
    color: #495069;
    background-color: 4px;
    font-size: 20px;
    box-shadow: 0 4px rgba(0,0,0,0.2);
    border-radius: 4px;

}

input{
    outline: 0;
    position: static;
    left: 5px;
    top: 5px;
    border: 0;
    color: #495069;
    background-color: 4px;
    width: calc(100%-10px);
    height: 50px;
    float: inline; 
    margin: auto;
    font-size: 20px;
    box-shadow: 0 4px rgba(0,0,0,0.2);
}
button{
    outline: 0;
    position: relative;
    left: 5px;
    top: 5px;
    border: 0;
    color: #495069;
    background-color: 4px;
    width: 60px;
    height: 50px;
    float: left;
    margin: 5px;
    font-size: 20px;
    box-shadow: 0 4px rgba(0,0,0,0.2);
}
.op{
    background-color: #f1ff92;
    position: relative;
}


#clear-button{
    float: left;
    position: relative;
    display: block;
    background-color: #ff9fa8;
    margin-bottom: 15px;
}


#submit-button{
    background-color: purple;
}