body {
    background-color: darkgoldenrod;
    margin: 0;
    padding: 0%;
}
#first-number {
    float: inline-start; 
}   

#operations {
    color: darkgreen;
}

#second-number {
    float: inline-end;
}



#add{
    background-color: purple;
}